doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
    include layout/_head.pug
    title Кургансемена
  body
    div(style="display: none")
        //- include ../../build/images/sprite.svg
    include layout/_header.pug
    main.main.main-page

      // BEGIN MAIN-SLIDER
      section.banner
        .container
          .main-slider.swiper-container.js-main-slider
            ul.main-slider__list.swiper-wrapper
              li.main-slider__item-wrapper.swiper-slide(data-text="Наука")
                .main-slider__item
                  .main-slider__image-wrapper
                    img.main-slider__image(src="./img/main-slide-01.png", alt="")
                  .main-slider__info
                    h2.main-slider__heading
                      |Наука
                    .main-slider__description
                      p
                        |производство, закуп и реализация зерна в РФ и на экспорт
                    a.common__link.common__link--backing.main-slider__link.hidden-dlink(data-al="")
                      |Узнать подробнее
              li.main-slider__item-wrapper.swiper-slide(data-text="Семена")
                .main-slider__item
                  .main-slider__image-wrapper
                    img.main-slider__image(src="./img/main-slide-01.png", alt="")
                  .main-slider__info
                    h2.main-slider__heading
                      |Семена
                    .main-slider__description
                      p
                        |производство, закуп и реализация зерна в РФ и на экспорт
                    a.common__link.common__link--backing.main-slider__link.hidden-dlink(data-al="")
                      |Узнать подробнее
              li.main-slider__item-wrapper.swiper-slide(data-text="Зерно")
                .main-slider__item
                  .main-slider__image-wrapper
                    img.main-slider__image(src="./img/main-slide-01.png", alt="")
                  .main-slider__info
                    h2.main-slider__heading
                      |Зерно
                    .main-slider__description
                      p
                        |производство, закуп и реализация зерна в РФ и на экспорт
                    a.common__link.common__link--backing.main-slider__link.hidden-dlink(data-al="")
                      |Узнать подробнее
              li.main-slider__item-wrapper.swiper-slide(data-text="Масло")
                .main-slider__item
                  .main-slider__image-wrapper
                    img.main-slider__image(src="./img/main-slide-01.png", alt="")
                  .main-slider__info
                    h2.main-slider__heading
                      |Масло
                    .main-slider__description
                      p
                        |производство, закуп и реализация зерна в РФ и на экспорт
                    a.common__link.common__link--backing.main-slider__link.hidden-dlink(data-al="")
                      |Узнать подробнее
              li.main-slider__item-wrapper.swiper-slide(data-text="Элеватор")
                .main-slider__item
                  .main-slider__image-wrapper
                    img.main-slider__image(src="./img/main-slide-01.png", alt="")
                  .main-slider__info
                    h2.main-slider__heading
                      |Элеватор
                    .main-slider__description
                      p
                        |производство, закуп и реализация зерна в РФ и на экспорт
                    a.common__link.common__link--backing.main-slider__link.hidden-dlink(data-al="")
                      |Узнать подробнее

            .main-slider__pagination.js-main-slider-pagination
      // END MAIN-SLIDER

      // BEGIN ABOUT COMPANY
      section.company.company-section
        .container
          h1.common__h1-heading.company-section__heading
            |Кургансемена — агрохолдинг нового типа
          .company-section__description.common__wysiwyg
            p
              |История агрохолдинга «КУРГАНСЕМЕНА» — это история самоотверженного труда единомышленников, нацеленных на решение главной задачи — поступательное развитие сельского хозяйства региона и России, за счет обеспечения высококачественными семенами.
          a.common__link.common__link--backing.company-section__link.hidden-dlink(data-al="#")
            |Узнать больше
          
          .company-section__info
            .tabs.company-section__info-tabs.js-tabs.js-tabs-mouseover(data-tabs="company")
              ul.tabs__list
                li.tabs__item.tabs__item--active
                  .tabs__button(data-tab="grown")
                    p.tabs__button-count
                      |50 000
                    p.tabs__button-text
                      |гектаров
                    p.tabs__button-desc
                      |пашни

                li.tabs__item
                  .tabs__button(data-tab="child")
                    p.tabs__button-count
                      |800
                    p.tabs__button-text
                      |рабочих мест
                    p.tabs__button-desc
                      |создано       

                li.tabs__item
                  .tabs__button(data-tab="grown")
                    p.tabs__button-count
                      |35 000
                    p.tabs__button-text
                      |тонн
                    p.tabs__button-desc
                      |семян зерновых и зернобобовых в год
                li.tabs__item
                  .tabs__button(data-tab="child")
                    p.tabs__button-count
                      |150 000
                    p.tabs__button-text
                      |тонн
                    p.tabs__button-desc
                      |производство и реализация зерна в год     
                li.tabs__item
                  .tabs__button(data-tab="grown")
                    p.tabs__button-count
                      |40 000
                    p.tabs__button-text
                      |тонн
                    p.tabs__button-desc
                      |в год мощность маслозавода   
                li.tabs__item
                  .tabs__button(data-tab="child")
                    p.tabs__button-count
                      |200 000
                    p.tabs__button-text
                      |тонн зерна
                    p.tabs__button-desc
                      |ёмкость складского хозяйства  

            .company-section__info-container(data-tabs-content="company")

              .company-section__info-content(data-tab-content="grown")
                .company-section__img-wrap
                  img.company-section__img(src="./img/company/company-img-1.png", alt="")
                .company-section__small-img-wrap
                  img.company-section__small-img(src="./img/company/company-img-2.png", alt="")

              .company-section__info-content(data-tab-content="child")
                .company-section__img-wrap
                  img.company-section__img(src="./img/company/company-img-1.png", alt="")
                .company-section__small-img-wrap
                  img.company-section__small-img(src="./img/company/company-img-2.png", alt="")
          
      // END ABOUT COMPANY

      // BEGIN HISTORY
      section.history.history-section
        .container

          .tabs.history__tabs.js-tabs(data-tabs="history")
            ul.tabs__list.history__tabs-list
              li.tabs__item.tabs__item--active.history__tabs-item.history__tabs-item--active
                button.tabs__button.history__tabs-button(data-tab="1988")
                  |1988
              li.tabs__item.history__tabs-item
                button.tabs__button.history__tabs-button(data-tab="1995")
                  |1995                         
              li.tabs__item.history__tabs-item
                button.tabs__button.history__tabs-button(data-tab="1999")
                  |1999                   
              li.tabs__item.history__tabs-item
                button.tabs__button.history__tabs-button(data-tab="2004")
                  |2004
              li.tabs__item.history__tabs-item
                button.tabs__button.history__tabs-button(data-tab="2010")
                  |2010
              li.tabs__item.history__tabs-item
                button.tabs__button.history__tabs-button(data-tab="2015")
                  |2015
              li.tabs__item.history__tabs-item
                button.tabs__button.history__tabs-button(data-tab="2020")
                  |2020

          .history__container(data-tabs-content="history")
            .history__content(data-tab-content="1988")
              .history__img-wrap
                img.history__img(src="./img/history-img.png", alt="")
              span.history__year
                |1988
              .history__content-info
                h3.common__h3-heading.history__heading
                  |Основание
                .history__description.common__wysiwyg
                  p
                    |В марте 1988 года приказом по агропромышленному комитету Курганской области была образована научно-производственная система «Семена», в последствии преобразованная в научно-производственный агрохолдинг «Кургансемена».

      // END HISTORY

      // BEGIN NEWS
      section.news.news-section
        .container
          h3.common__h3-heading.news-section__heading
            |Новости
          .news-slider.swiper-container.js-news-slider
            .news-slider__list.swiper-wrapper
              .news-slider__item.swiper-slide
                article.news-preview
                  .news-preview__img-wrap
                    img.news-preview__img(src="./img/news/news-img-1.png", alt="")
                  .news-preview__info
                    .news-preview__date
                      |18/08/2020
                    h6.news-preview__title
                      |Экспортер года
      // END NEWS



    include layout/_footer.pug
    include layout/_scripts.pug