doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
        include layout/_head.pug
        title Шаблон
    body
      include layout/_header.pug
      main.main
        p 
          |Lorem ipsum dolor sit amet consectetur adipisicing elit. A, ea, ad aperiam nulla sapiente facere vel vero consequuntur quam rem ab pariatur dicta odio aut soluta magni consectetur inventore maiores.

      include layout/_scripts.pug