
* 
  box-sizing border-box

body 
  display flex
  flex-direction column
  min-height 100vh
  font-family "HelveticaNeueCyr"
  font-size 18px
  line-height 28px
  font-weight 400
  color text-color

.container 
  max-width 1538px
  width 100%
  margin 0 auto
  padding 0 20px

.main
  flex-grow 1
  padding-top 146px
  overflow-x hidden
  background-color gray
  @media tablet-portrait-large
    padding-top 104px
  &-page
    position relative
    &:before
      content ''
      position absolute
      top 0
      left 0
      right 0
      width 100%
      max-height 1015px
      height 100%
      background url(../img/white-gradient.png) no-repeat top center
      background-size cover

button
  border none
  &:focus
    outline none

ul 
  margin 0
  padding 0
  list-style none

.common
  &__link
    display inline-flex
    padding 9px 30px 7px
    border-radius 20px
    background-color main-color
    color #fff
    font-size 16px
    font-weight 400
    line-height 24px
    text-decoration none
    transition background-color 0.3s
    &:hover 
      background-color green-hover
  &__button
    display inline-flex
    padding 9px 30px 7px
    border-radius 20px
    background-color main-color
    color #fff
    font-size 16px
    font-weight 400
    line-height 24px
    text-decoration none
    transition background-color 0.3s
    cursor pointer
    outline none
    &:hover 
      background-color green-hover
  &__h1-heading
    font-size 70px
    font-weight 400
    line-height 80px
    @media tablet-portrait-small
      font-size 48px
      line-height 54px
    @media phone
      font-size 32px
      line-height 38px
  &__h3-heading
    font-size 48px
    font-weight 400
    line-height 54px
    @media phone
      font-size 36px
      line-height 40px
  &__wysiwyg
    & p:not([class])
      margin 0
    & p:not([class]):not(:last-child)
      margin 0 0 20px 0

.js-content-is-hidden
    display none
