
* 
  box-sizing border-box

body 
  display flex
  flex-direction column
  min-height 100vh
  font-family "HelveticaNeueCyr"
  font-size 18px
  line-height 28px
  font-weight 400
  color text-color

.container 
  max-width 1538px
  width 100%
  margin 0 auto
  padding 0 20px

.main
  flex-grow 1
  padding-top 146px
  overflow-x hidden
  background-color gray

button
  border none
  &:focus
    ouline none

ul 
  margin 0
  padding 0
  list-style none

.common
  &__link
    padding 9px 30px 7px
    border-radius 20px
    background-color main-color
    color #fff
    font-size 16px
    font-weight 400
    line-height 24px
    text-decoration none
    transition background-color 0.3s
    &:hover 
      background-color green-hover
  &__h3-heading
    font-size 48px
    font-weight 400
    line-height 54px