
@import '_normalize.styl'
@import '_swiper.styl'

@import '_fonts.styl'
@import '_vars.styl'




@import '_interface.styl'



@import 'blocks/header.styl'
@import 'blocks/banner.styl'
@import 'blocks/company.styl'
@import 'blocks/news.styl'



  
@import 'blocks/footer.styl'