.banner
  padding-bottom 75px
  // background-color #fff

.main-slider
  position relative
  width 100%
  &__list
    display flex
    flex-wrap nowrap
    height auto
    margin 0
    padding 0
    list-style none

  &__item-wrapper
    position relative
    flex-shrink 0
    width 100%

  &__item
    position relative
    display flex
    width 100%
    height 450px
    border-radius 20px 20px 0 0
    overflow hidden
    @media tablet-portrait-large
      border-radius 20px
  
  &__image
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    z-index 0
    display block
    width 100%
    height 100%
    object-fit cover

  &__info
    position relative
    display flex
    align-items center
    justify-content center
    flex-direction column
    width 100%
    padding 20px
    z-index 1
  &__heading
    margin 0 0 23px 0
    color #fff
    text-shadow 0 0 59px #007d2f
    font-size 60px
    font-weight 700
    line-height 45px
    text-transform uppercase
    @media phone 
      font-size 48px

  &__description
    max-width 850px
    margin-bottom 24px
    text-align center
    & p:not([class])
      margin 0
      font-size 24px
      font-weight 700
      line-height 28px
      text-transform uppercase
      color #fff
      text-shadow 0 0 59px #007d2f
      @media phone 
        font-size 18px

  &__pagination
    display flex
    justify-content center
    padding 21px 45px 20px
    border-radius 0 0 20px 20px
    background-color #fff
    // box-shadow 0 16px 51px rgba(0, 0, 0, 0.08)
    box-shadow 0 8px 40px rgba(0, 0, 0, 0.08)
    @media tablet-portrait-large
      justify-content center
      padding 24px 45px 0
      background-color transparent
      box-shadow none
  &__pagination-img
    @media desktop-hover
      position relative
      width 74px
      height 74px
      margin-right 17px
      box-shadow inset 0 0 30px #fafafa
      background-color #f8f8f8
      border-radius 50%
      transition background-color 0.3s, box-shadow 0.3s
      &:after
        content ''
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        width 100%
        height 100%
        // background-image url('../img/icons/icons.svg#Nauka')
        background-repeat no-repeat
        background-position center
        background-size cover
        transition background-image 0.3s
  &__pagination-img--1
    &:after
      @media desktop-hover
        width 51px
        height 66px
        background-image url('../img/icons/icons.svg#nauka')
  &__pagination-img--2
    &:after
      @media desktop-hover
        width 79px
        height 79px
        background-image url('../img/icons/icons.svg#semena')
  &__pagination-img--3
    &:after
      @media desktop-hover
        width 110px
        height 117px
        background-image url('../img/icons/icons.svg#zerno')
  &__pagination-img--4
    &:after
      @media desktop-hover
        width 88px
        height 88px
        background-image url('../img/icons/icons.svg#maslo')
  &__pagination-img--5
    &:after
      @media desktop-hover
        width 126px
        height 126px
        background-image url('../img/icons/icons.svg#elevator')
  &__pagination-text 
    display none
    @media desktop-hover
      display block
      font-size 18px
      font-weight 400
      line-height 23px
      border-bottom 1px solid transparent
      transition 0.3s
  &.swiper-container
    overflow visible
  &>.swiper-pagination-bullets
    .swiper-pagination-bullet
      margin 0 4.63%
      @media laptop 
        margin 0 3%
      @media tablet-landscape-small
        margin 0 2%

.swiper-pagination-bullet 
  width 24px
  height 24px
  background-color #f8f8f8
  opacity 1
  outline none
  @media desktop-hover
    display inline-flex
    align-items center
    width auto
    height auto
    background none
    color text-color
    opacity 1
    outline none
    &:hover:not(.swiper-pagination-bullet-active)
      .main-slider__pagination-img
        background-color #06933b
        box-shadow inset 0 0 38px main-color
      .main-slider__pagination-img--1
        &:after
          background-image url('../img/icons/icons.svg#nauka_white')
      .main-slider__pagination-img--2
        &:after
          background-image url('../img/icons/icons.svg#semena_white')
      .main-slider__pagination-img--3
        &:after
          background-image url('../img/icons/icons.svg#zerno_white')
      .main-slider__pagination-img--4
        &:after
          background-image url('../img/icons/icons.svg#maslo_white')
      .main-slider__pagination-img--5
        &:after
          background-image url('../img/icons/icons.svg#elevator_white')
      .main-slider__pagination-text
        color text-color-hover
        border-bottom 1px solid text-color-hover
  @media tablet-portrait-large
    width 16px
    height 16px

.swiper-pagination-bullet-active
  @media tablet-portrait-large
    background-color main-color
  @media desktop-hover
    .main-slider__pagination-img
        background-color #06933b
        box-shadow inset 0 0 38px main-color
    .main-slider__pagination-img--1
      &:after
        background-image url('../img/icons/icons.svg#nauka_white')
    .main-slider__pagination-img--2
      &:after
        background-image url('../img/icons/icons.svg#semena_white')
    .main-slider__pagination-img--3
      &:after
        background-image url('../img/icons/icons.svg#zerno_white')
    .main-slider__pagination-img--4
      &:after
        background-image url('../img/icons/icons.svg#maslo_white')
    .main-slider__pagination-img--5
      &:after
        background-image url('../img/icons/icons.svg#elevator_white')
  .main-slider__pagination-text
    @media desktop-hover
      color text-color-hover
      border-bottom 1px solid text-color-hover

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet
  @media tablet-portrait-large
    margin 0 8px