.news-section
  padding 0 0 150px
  @media phone 
    padding 0 0 90px
  & > .container
    position relative
    max-width 1240px

.news
  &__heading
    margin 0 0 27px 0
  &__link-wrapper
    position relative
    margin 41px 0 0 0
    text-align center

.news-preview
  position relative
  display flex
  width 100%
  height 435px
  padding 36px 50px 31px
  border-radius 20px
  // background-color #000
  overflow hidden
  text-decoration none
  @media tablet-landscape-medium
    padding 31px 30px
  &:hover 
    .news-preview__title
      border-bottom-color: #fff
  &:after
    content ''
    position absolute
    width 100%
    height 100%
    left 0
    top 0
    background linear-gradient(to top, rgba(0,0,0,0.6) 0 20%, rgba(0,0,0,0) 70%)
  &__img
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    display block
    width 100%
    height 100%
    object-fit cover
  &__info
    position relative
    display block
    width 100%
    margin-top auto
    text-align center
    z-index 1
  &__date
    margin 0 0 15px 0
    color #fff
    font-size 16px
    font-weight 400
    line-height 26px
  &__title 
    display inline
    margin 0
    border-bottom 1px solid transparent
    color #fff
    font-size 18px
    font-weight 400
    line-height 26px
    transition 0.3s

.news-slider
  position relative
  overflow visible
  overflow-x: hidden
  &__arrows
    position absolute
    top 12px
    right 20px
    z-index 1
    display flex
    flex-wrap nowrap
    justify-content space-between
    width 98px
    height 31px
    @media phone
        top 5px
  &__arrow
    opacity 1
    outline none
    cursor pointer
    transition opacity .5s ease
    &:not(.swiper-button-disabled):hover
      & svg 
        fill main-color
    & svg 
      fill text-color
      transition 0.3s
    &.swiper-button-disabled
      opacity .15
      cursor default
    