.hidden-block
    position fixed
    top 0
    left 0
    z-index 1001
    width 0
    height 100vh
    overflow hidden
    transition width 0s 1s ease

    &__background
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background-color #000
        opacity 0
        transition opacity 1s 0s ease

    &__close-button
        position absolute
        top 33px
        right 33px
        transform rotate(0deg)
        z-index 1
        width 33px
        height 33px
        background none
        border none
        opacity 0
        visibility hidden
        transition transform .5s 0s ease, opacity .5s 0s ease, visibility 0s .5s linear
        outline none
        cursor pointer
        @media tablet-portrait-large
            display none
        

        &:hover
            transform rotate(90deg)

        &::before
            content ""
            position absolute
            top 16px
            left 0
            display block
            width 100%
            height 1px
            background-color #fff
            transform rotate(-45deg)

        &::after
            content ""
            position absolute
            top 16px
            left 0
            display block
            width 100%
            height 1px
            background-color #fff
            transform rotate(45deg)

        &--inner
          position absolute
          top 20px
          right 20px
          transform rotate(0deg)
          z-index 1
          width 33px
          height 33px
          background none
          border none
          opacity 0
          visibility hidden
          transition transform .5s 0s ease, opacity .5s 0s ease, visibility 0s .5s linear
          outline none
          cursor pointer
          display none
          @media tablet-portrait-large
            display block
          &:hover
            transform rotate(90deg)

          &::before
              content ""
              position absolute
              top 16px
              left 0
              display block
              width 100%
              height 1px
              background-color #000
              transform rotate(-45deg)

          &::after
              content ""
              position absolute
              top 16px
              left 0
              display block
              width 100%
              height 1px
              background-color #000
              transform rotate(45deg)

    &__container
        position relative
        display flex
        flex-direction column
        align-items center
        justify-content center
        width calc(100% + 17px)
        height 100vh
        overflow-y auto
        overflow-x hidden
        opacity 0
        visibility hidden

    &__popup
        display none

body.js-popup-is-open
    overflow-y hidden
    touch-action none

    & .hidden-block
        width 100%
        transition none

        &__background
            opacity 0.5

        &__close-button
            opacity 1
            visibility visible
            transition transform .5s 0s ease, opacity .5s 1s ease, visibility 0s 1s linear

        &__container
            opacity 1
            visibility visible
            transition opacity 1s 1s ease, visibility 0s 1s linear  

        &__wrapper
            opacity 1
            visibility visible
            transition opacity 1s 1s ease, visibility 0s 1s linear

.hidden-block__popup.js-active-popup
    display block

/* <-------------------> */
.hidden-block__wrapper
    position fixed
    top 0
    left 0
    display flex
    width 100%
    height 100%
    overflow hidden auto
    opacity: 0;
    visibility: hidden;

.hidden-block__popup 
    position relative
    max-width 820px
    width 100%
    margin auto
    padding 57px 80px 38px
    background-color #ffffff

    @media phone
        padding 61px 20px

    &.thanks-popup
      max-width 452px
      padding 50px 78px
      @media phone
        padding 50px 20px
      .popup__title 
        margin 0
        line-height 36px

.popup
  &__title 
    margin 0 0 18px 0
    font-size 30px
    font-weight 400
    line-height 30px
    text-align center
  &__subtitle 
    max-width 560px
    width 100%
    margin 0 auto 24px auto
    text-align center
    span 
      color main-color

