footer.footer
  .footer__top-wrap
    .footer__container
      .footer__top
        nav.sitemap.footer__sitemap
          ul.sitemap__list
              li.sitemap__item
                a.sitemap__link.hidden-dlink(data-al="")
                  |О нас
                .sublinks.sitemap__sublinks
                  ul.sublinks__list
                    li.sublinks__item
                      a.sublinks__link.hidden-dlink(data-al="")
                        |История агрохолдинга
                    li.sublinks__item
                      a.sublinks__link.hidden-dlink(data-al="")
                        |Корпоративная культура 
                    li.sublinks__item
                      a.sublinks__link.hidden-dlink(data-al="")
                        |Руководство
                    li.sublinks__item
                      a.sublinks__link.hidden-dlink(data-al="")
                        |Зауральское качество
                    li.sublinks__item
                      a.sublinks__link.hidden-dlink(data-al="")
                        |Видео
              li.sitemap__item
                a.sitemap__link.hidden-dlink(data-al="")
                  |Новости
          ul.sitemap__list
            li.sitemap__item
              a.sitemap__link.hidden-dlink(data-al="")
                |Дивизионы
              .sublinks.sitemap__sublinks
                ul.sublinks__list
                  li.sublinks__item
                    a.sublinks__link.hidden-dlink(data-al="")
                      |Семена
                  li.sublinks__item
                    a.sublinks__link.hidden-dlink(data-al="")
                      |Масло
                  li.sublinks__item
                    a.sublinks__link.hidden-dlink(data-al="")
                      |Зерно
                  li.sublinks__item
                    a.sublinks__link.hidden-dlink(data-al="")
                      |Животноводство
                  li.sublinks__item
                    a.sublinks__link.hidden-dlink(data-al="")
                      |Элеватор
          ul.sitemap__list
              li.sitemap__item
                a.sitemap__link.hidden-dlink(data-al="")
                  |Наука
                .sublinks.sitemap__sublinks
                  ul.sublinks__list
                    li.sublinks__item
                      a.sublinks__link.hidden-dlink(data-al="")
                        |Научный центра
                    li.sublinks__item
                      a.sublinks__link.hidden-dlink(data-al="")
                        |Мероприятия
                    li.sublinks__item
                      a.sublinks__link.hidden-dlink(data-al="")
                        |Патенты
                    li.sublinks__item
                      a.sublinks__link.hidden-dlink(data-al="")
                        |Научные статьи
              li.sitemap__item
                a.sitemap__link.hidden-dlink(data-al="")
                  |Контакты
        .footer__contacts
          .footer__contacts-title
            |Адреса оптовых продаж
          ul.footer__contacts-list
            li.footer__contacts-item
              .footer__contacts-hint
                |Семена:
              p.footer__contacts-location
                |Курган, Володарского, 57, офис 209
              p.footer__contacts-phone
                |8 (3522) 22-90-90, 8 (3522) 46-41-16
            li.footer__contacts-item
              .footer__contacts-hint
                |Масло:
              p.footer__contacts-location
                |Курган, Володарского, 57, офис 513
              p.footer__contacts-phone
                |8 (3522) 46-69-46
            li.footer__contacts-item
              .footer__contacts-hint
                |Зерно, мука, отруби:
              p.footer__contacts-location
                |Курган, Омская, 99,
              p.footer__contacts-phone
                |8 (3522) 25-42-53

  .footer__bottom-wrap
    .footer__container
      .footer__bottom
        .footer__col
          p.footer__copyright
            |© АО «Кургансемена», 2020
          .social.footer__social
            .social__list
              a.social__item(href="#", target="_blank")
                <img src="./img/icons/icons.svg#fb" class="svg-fb-dims" alt="fb"/>
              a.social__item(href="#", target="_blank")
                <img src="./img/icons/icons.svg#vk" class="svg-vk-dims" alt="vk"/>
              a.social__item(href="#", target="_blank")
                <img src="./img/icons/icons.svg#youtube" class="svg-youtube-dims" alt="youtube"/>
              a.social__item(href="#", target="_blank")
                <img src="./img/icons/icons.svg#inst" class="svg-inst-dims" alt="inst"/>
        .footer__col
          a.footer__phone.hidden-dlink(data-al="tel:")
              |+7 (3522) 46-24-77
          a.footer__email.hidden-dlink(data-al="mailto:")
                |kurgansemena@mail.ru   
        .footer__col
          .footer__badges
            .footer__badge-wrap
              img.footer__badge-img(src="./img/badges_img-1.png", alt="")
            .footer__badge-wrap
              img.footer__badge-img(src="./img/badges_img-2.png", alt="")
        .footer__col
          .developer.footer__developer
            a.developer__link(href="", target="_blank")
                |Dextra
            span.developer__hint
                |Разработка
                br
                |сайта