header.header
  .container
    .header__inner
      .header__logo.logo
        .logo__image-wrap
          a.logo__link(href="")
            img.logo__image(src="img/header-logo.svg", alt="")
        span.logo__slogan
          |Научно-производственный агрохолдинг
      .header__aside
        .header__rows
          .header__row.header__row--top
            .social.header__social
              .social__list
                a.social__item(href="#", target="_blank")
                  <img src="./img/icons/icons.svg#fb" class="svg-fb-dims" alt="fb"/>
                a.social__item(href="#", target="_blank")
                  <img src="./img/icons/icons.svg#vk" class="svg-vk-dims" alt="vk"/>
                a.social__item(href="#", target="_blank")
                  <img src="./img/icons/icons.svg#youtube" class="svg-youtube-dims" alt="youtube"/>
                a.social__item(href="#", target="_blank")
                  <img src="./img/icons/icons.svg#inst" class="svg-inst-dims" alt="inst"/>
            a.header__email.hidden-dlink(data-al="mailto:")
                |kurgansemena@mail.ru   
            a.header__phone.hidden-dlink(data-al="tel:")
                |+7 (3522) 46-24-77
            button.header__button.js-popup-button(data-popup-for='callback-popup')
              span
                  |Обратный звонок
          .header__row
            nav.menu.header__menu
              ul.menu__list
                li.menu__item.menu__item--active
                  //a.menu__link.hidden-dlink(data-al="")
                  |Главная
                li.menu__item.has-sub.js-sub-open
                  a.menu__link.hidden-dlink(data-al="")
                    |О нас
                  span.menu__icon-wrap
                    img.menu__icon(src="./img/icons/icons.svg#arrow-down", alt="")
                  ul.sub-menu.menu__sub
                    li.sub-menu__item
                      a.sub-menu__link.hidden-dlink(data-al="")
                        |История агрохолдинга
                    li.sub-menu__item
                      a.sub-menu__link.hidden-dlink(data-al="")
                        |Корпоративная культура
                    li.sub-menu__item
                      a.sub-menu__link.hidden-dlink(data-al="")
                        |Руководство
                    li.sub-menu__item
                      a.sub-menu__link.hidden-dlink(data-al="")
                        |Зауральское качество
                    li.sub-menu__item
                      a.sub-menu__link.hidden-dlink(data-al="")
                        |Видео
                li.menu__item
                  a.menu__link.hidden-dlink(data-al="")
                    |Новости
                li.menu__item.has-sub.js-sub-open
                  a.menu__link.hidden-dlink(data-al="")
                    |Дивизионы
                  span.menu__icon-wrap
                    img.menu__icon(src="./img/icons/icons.svg#arrow-down", alt="")
                  ul.sub-menu.menu__sub
                    li.sub-menu__item.js-sub-open
                      a.sub-menu__link.hidden-dlink(data-al="")
                        |Семена
                      ul.sub-menu--2.menu__sub--2
                        li.sub-menu__item
                          a.sub-menu__link.hidden-dlink(data-al="")
                            |Каталог сортов
                        li.sub-menu__item
                          a.sub-menu__link.hidden-dlink(data-al="")
                            |Промышленное семеноводство
                        li.sub-menu__item
                          a.sub-menu__link.hidden-dlink(data-al="")
                            |Семена и урожайность
                        li.sub-menu__item
                          a.sub-menu__link.hidden-dlink(data-al="")
                            |Средства защиты растений
                    li.sub-menu__item.js-sub-open
                      a.sub-menu__link.hidden-dlink(data-al="")
                        |Масло
                      ul.sub-menu--2.menu__sub--2
                        li.sub-menu__item
                          a.sub-menu__link.hidden-dlink(data-al="")
                            |Каталог сортов
                        li.sub-menu__item
                          a.sub-menu__link.hidden-dlink(data-al="")
                            |Промышленное семеноводство
                        li.sub-menu__item
                          a.sub-menu__link.hidden-dlink(data-al="")
                            |Семена и урожайность
                        li.sub-menu__item
                          a.sub-menu__link.hidden-dlink(data-al="")
                            |Средства защиты растений
                    li.sub-menu__item.js-sub-open
                      a.sub-menu__link.hidden-dlink(data-al="")
                        |Зерно
                      ul.sub-menu--2.menu__sub--2
                        li.sub-menu__item
                          a.sub-menu__link.hidden-dlink(data-al="")
                            |Каталог сортов
                        li.sub-menu__item
                          a.sub-menu__link.hidden-dlink(data-al="")
                            |Промышленное семеноводство
                        li.sub-menu__item
                          a.sub-menu__link.hidden-dlink(data-al="")
                            |Семена и урожайность
                        li.sub-menu__item
                          a.sub-menu__link.hidden-dlink(data-al="")
                            |Средства защиты растений
                    li.sub-menu__item.js-sub-open
                      a.sub-menu__link.hidden-dlink(data-al="")
                        |Элеватор
                li.menu__item.has-sub.js-sub-open
                  a.menu__link.hidden-dlink(data-al="")
                    |Наука
                  span.menu__icon-wrap
                    img.menu__icon(src="./img/icons/icons.svg#arrow-down", alt="")
                  ul.sub-menu.menu__sub
                    li.sub-menu__item
                      a.sub-menu__link.hidden-dlink(data-al="")
                        |История агрохолдинга
                    li.sub-menu__item
                      a.sub-menu__link.hidden-dlink(data-al="")
                        |Корпоративная культура
                    li.sub-menu__item
                      a.sub-menu__link.hidden-dlink(data-al="")
                        |Руководство
                    li.sub-menu__item
                      a.sub-menu__link.hidden-dlink(data-al="")
                        |Зауральское качество
                    li.sub-menu__item
                      a.sub-menu__link.hidden-dlink(data-al="")
                        |Видео
                li.menu__item
                  a.menu__link.hidden-dlink(data-al="")
                    |Контакты 
                li.menu__item.to-eng
                  a.menu__link.hidden-dlink(data-al="")
                    |English
      a.header__phone.header__phone--mobile.hidden-dlink(data-al="tel:")
        |+7 (3522) 46-24-77
      button.header__button.header__button--mobile.js-popup-button(data-popup-for='callback-popup')
        span
          |Обратный звонок
      .burger.header__burger
        .burger__stroke
